/* Main.css */
html, .content-wrapper{
	height: 100%;
}
body{
	height: 100%;
	padding-top: 51px;
	background-color: #dee6ec;
}
textarea{
	resize: none;
}
.hide{
	display: none;
}
html body .allow-cursor{
	cursor: default;
}
.highlight{
	background-color: #ed6969 !important;
	color: #fff;
}
/* Navigation CSS Start */
.navbar-default{
	box-shadow: none;
	border-bottom: 2px solid #dadada;
}
.navbar-brand{
	display: inline-block;
	padding: 8px;
	margin-left: 5%;
}
.company-logo{
	width: 150px;
	margin: 0;
}
.navbar-title{
	font-size: 1.25em;
	line-height: 34px;
}
/* Navigation CSS End */
/* Main Content CSS Start */
.main-content-wrapper{
	height: 100%;
	margin: 0;
}
.project-list-wrapper, .bug-list-wrapper, .bug-detail-wrapper{
	border-right: 1px solid black;
	padding: 20px;
	height: 100%;
}
.cancel-icon{
	position: absolute;
	top: -12px;
	right: -12px;
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url('../images/cancel-icon.png') 0 0 no-repeat;
	cursor: pointer;
}
.project, .bug, .comment{
	position: relative;
	margin-top: 20px;
	height: 50px;
	line-height: 50px;
	list-style: none;	
	cursor: pointer;
	text-align: center;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 1px 1px 1px rgba(20%,20%,40%,0.3);
}

.project:hover, .bug:hover, .comment:hover{
	background-color: #ed6969;
	color: #fff;
}
/* Main Content CSS End */



/* Project List Start */
.project-list .projects{
	padding: 0;
}
.project-list .title-wrapper{
	position: relative;
	margin-bottom: 10px;
}
.project-list .toggle-btn{
	position: absolute;
	top: 4px;
	right: 0;
	display: inline-block;
	vertical-align: middle;
}
.project-list .project-list-title{
	display: inline-block;
	font-weight: bold;
	font-size: 28px;
	vertical-align: middle;
	color: #666;
}

.project-list .add-project-form-wrapper{
	margin-bottom: 5px;
	padding: 5%;
	padding-top: 3%;
	margin-bottom: 10px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 1px 1px 1px rgba(20%,20%,40%,0.3);
}
.project-list .add-project-form-wrapper input{
	margin-right: 3%;
}
.project-list .ui-effects-wrapper input{
	border-color: #d9534f;
}
.project-list input[type="text"]{
	display: block;
}
.project-list .closed-label{
	display: inline-block;
	margin-left: 10px;
	vertical-align: middle;
}
/* Project List End */
/* Bug List Start */
.bug-list .bug-list-title{
	display: inline-block;
	font-weight: bold;
	font-size: 28px;
	vertical-align: middle;
	color: #666;
}
.bug-list .bug-list-inputs{
	position: relative;
	margin-top: 20px;
}
.bug-list .close-project-btn{
	display: inline-block;
}
.bug-list .toggle-btn{
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
}
.bug-list .bugs{
	padding: 0;
}
.bug-list .bug-status{
	display: inline-block;
	margin-left: 10px;
	vertical-align: middle;
}
.bug-list .add-bug-form-wrapper{
	margin-top: 10px;
	margin-bottom: 5px;
	padding: 5%;
	padding-top: 3%;
	margin-bottom: 10px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 1px 1px 1px rgba(20%,20%,40%,0.3);
}
.bug-list .add-bug-form-wrapper input[type="button"]{
	margin-right: 3%;
}
.bug-list .ui-effects-wrapper .bug-name-input{
	border-color: #d9534f;
}
.bug-list .ui-effects-wrapper .bug-description-input{
	border-color: #d9534f;
}
.bug-list .ui-effects-wrapper .bug-author-input{
	border-color: #d9534f;
}
.bug-list input[type="text"]{
	display: block;
}

/* Bug List End */
/* Bug Detail Start */
.bug-detail .add-comment-form-wrapper{
	margin-bottom: 5px;
	border: 1px solid #01cafe;
}
.bug-detail .ui-effects-wrapper .comment-description-input{
	border-color: #d9534f;
}
.bug-detail .ui-effects-wrapper .comment-author-input{
	border-color: #d9534f;
}
/* Bug Detail End */


/* Float-Input Start */
.float-input{
	position: absolute;
	border: 1px solid green;
	border-radius: 5px;
	z-index: 500;
}
/* Float-Input End */



/* Animation Start */
/* Animation End */