/* Main.css */
html, .content-wrapper{
	height: 100%;
}
body{
	height: 100%;
	padding-top: 51px;
}
.hide{
	display: none;
}
/* Navigation CSS Start */
.navbar-brand{
	display: inline-block;
	padding: 8px;
	margin-left: 5%;
}
.company-logo{
	width: 150px;
	margin: 0;
}
.navbar-title{
	display: inline-block;
	margin-left: 10px;
	vertical-align: middle;
	color: #fff;
}
/* Navigation CSS End */
/* Main Content CSS Start */
.main-content-wrapper{
	height: 100%;
	margin: 0;
}
.project-list-wrapper, .bug-list-wrapper{
	border-right: 1px solid black;
	height: 100%;
}
.bug-detail-wrapper{
	height: 100%;
}
.cancel-icon{
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url('../images/cancel-icon.png') 0 0 no-repeat;
	cursor: pointer;
}
/* Main Content CSS End */
/* Project List Start */
.project-list .projects{
	padding: 0;
}
.project-list .projects li{
	list-style: none;
	border: 1px solid #000;
	cursor: pointer;
}
.project-list .add-project-form-wrapper{
	margin-bottom: 5px;
	border: 1px solid #01cafe;
}
.project-list .ui-effects-wrapper div{
	border-color: #d9534f;
}
/* Project List End */
/* Bug List Start */
.bug-list .bugs{
	padding: 0;
}
.bug-list .bugs li{
	list-style: none;
	border: 1px solid #000;
	cursor: pointer;
}
.bug-list .add-bug-form-wrapper{
	margin-bottom: 5px;
	border: 1px solid #01cafe;
}
.bug-list .ui-effects-wrapper div{
	border-color: #d9534f;
}
/* Bug List End */
/* Bug Detail Start */
.bug-detail .update-bug-form-wrapper{
	margin-bottom: 5px;
	border: 1px solid #01cafe;
}
/* Bug Detail End */


/* Float-Input Start */
.float-input{
	position: absolute;
	border: 1px solid green;
	border-radius: 5px;
	z-index: 500;
}
/* Float-Input End */



/* Animation Start */
/* Animation End */